#scrollPath {
    position: fixed;
    top: 0;
    left: 0;
    width: 15px;
    height: 100%;
    background: #ffffff0d;
  }
  
  #progressbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 15px;
    height: 0%; /* Start with 0 height */
    background: linear-gradient(to bottom, #9845e8 0%, #33d2ff 40%, #dd5789 80%);
    background-size: 100% 300%; /* Ensure the gradient spans the full scrollable height */
    background-position: top; /* Start from the top of the gradient */
  }
  
  #progressbar:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #9845e8 0%, #33d2ff 40%, #dd5789 80%);
    filter: blur(4px);
  }
  
  #progressbar:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #9845e8 0%, #33d2ff 40%, #dd5789 80%);
    filter: blur(4px);
  }

  #fixthisshit {
    font-size: 1.5em;
  }

  body {
    margin: 0;
    width: 100%;
    height: 100vh;
    background-color: #000;
  }
  
  canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  
  body.light-mode {
    background-color: #fff;
    background-image: radial-gradient(circle at top right, rgba(41, 196, 255, 0.13), transparent),
                      radial-gradient(circle at 20% 80%, rgba(121, 68, 154, 0.13), transparent);
  }
  
  canvas.light-mode {
    background: #fff;
  }