---
import { ISkills } from "@types";

const { title, skills } = Astro.props as ISkills;
---

<section class="skills-section mt-16 dark:text-light">
  <h2 class="w-[15rem]">{title}</h2>
  <div class="flex flex-wrap gap-4 mt-4">
    {skills?.map((skill) => (
      <div class="skill-item bg-slate-200 dark:bg-[#202020] rounded-lg px-4 py-2 shadow-md">
        {skill}
      </div>
    ))}
  </div>
</section>
